:root {
    --color-white: #FFFFFF;
    --color-dark-gray: #414656;
    --color-charcoal: #2e2d2d;

    --color-primary-button: #8B7CFB;
    --color-blue: #20B6FD;
    --color-turquoise: #8AFFFE;
    --color-highlight: #796DD3;
}

