:root {
    --color-white: #FFFFFF;
    --color-dark-gray: #414656;
    --color-charcoal: #2e2d2d;

    --color-primary-button: #8B7CFB;
    --color-blue: #20B6FD;
    --color-turquoise: #8AFFFE;
    --color-highlight: #796DD3;
}

.how-it-works-container {
  background:var(--color-primary-button); 
  padding: 10% 10%;
  color: var(--color-white);
  margin-top: 30.7%;
}

.steps-container {
  flex-direction: column;
  gap: 40px;
  margin-top: -35%;
  margin-left: 40%;
  margin-bottom: 5%;
  width: 70%;
  height: 50%;
}

.step {
  font-size:x-large;
  display: flex;
  align-items: right;
  gap: 10px;
}

.step-number {
  width: 40px;
  height: 40px;
  background: var(--color-charcoal);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.htw_title{
  width: 20%;
  justify-content: space-between;
}

.bottom_banner{
  margin-top: 9.5%;
  width: 100%;
  margin-left: -10%;
}
