:root {
    --color-white: #FFFFFF;
    --color-dark-gray: #414656;
    --color-charcoal: #2e2d2d;

    --color-primary-button: #8B7CFB;
    --color-blue: #20B6FD;
    --color-turquoise: #8AFFFE;
    --color-highlight: #796DD3;
}

.htw_container{
  background-color: var(--color-primary-button);
    
    justify-content: center;
    align-items: center;
   
}

.htw_content {
  color:var(--color-white);
  max-width: 100%;
}

.htw_title {
    font-size: 60px;
    font-weight: bold;
    line-height: 2.2;
    margin-bottom: 20%;
    margin-left: 10%;
  }